@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url(http://fonts.googleapis.com/earlyaccess/notosansgothic.css);
/*font-family: 'Noto Sans Gothic', sans-serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/*font-family: 'Nanum Myeongjo', serif;*/

/*reset*/
*{margin: 0;padding: 0;}
ul{list-style: none;}
img{border: 0;}
a{
    text-decoration: none;
    color: #444;
}

/*logo*/
h1#logo {
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 10;
}

#logo img {
    width: 135px;
    height: auto;
}

/*menu*/
ul#menu {
    position: fixed;
    top: 65%;
    margin-top: -100px;
    right: 0;
    z-index: 13
}

#menu a {
    display: block;
    width: 190px;
    height: 80px;
    padding-top: 10px;
    font-family: 'Righteous';
    text-transform: uppercase;
    font-size: 24px;
    color: #FF8F00;
    /* color: #5e889e; */
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid #888;
    opacity: 0.8;
    transition: all 0.5s;
}

#menu li:hover a {
    font-size: 28px;
    opacity: 1;
}

#menu li.on a {
    font-size: 28px;
    opacity: 1;
}

#menu li:hover a {
    color: #FF8F00;
    border-color: #FF8F00;
}

/*layout*/
section {
    width: 100%;
    height: 1080px;
    position: relative;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    overflow: hidden;
}
section:nth-child(1) {
    background: url(../img/hitchhiker-691581_1280.jpg) no-repeat center center;
    background-size: cover;
}
section:nth-child(2) {
    background: url(../img/objects-801922_1920.jpg) no-repeat center center;
}

/*1st 박스*/
article {
    position: absolute;
    top: 38%;
    left: 50%;
    margin-left: -50%;
    z-index: 11;
    width: 100%;
}
article p.desc01 {
    font-family: 'Righteous';
    font-size: 150px;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    color: #B26400;
}

/*2st 박스*/
.con_about {
    width: 1200px;
    height: 700px;
    margin: 150px auto 0;
    font-family: 'Noto Sans Gothic', sans-serif;
}
.icon_box {
    width: 1050px;
    margin: 0 auto;
}
.icon_box2 {
    width: 650px;
    margin: 0 auto;
}
.con_about > h2 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
    color: #5e889e;
    letter-spacing: 1.4px;
}
.icon {
    float: left;
    width: 250px;
    height: 250px;
    /*    border:4px solid black;*/
    padding-top: 20px;
    margin-right: 150px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.icon_box > .icon > em,
.icon_box2 > .icon > em {
    width: 250px;
    height: 148px;
    display: block;
    margin-bottom: 15px;
}
.icon_box > .icon:nth-child(1) em {
    background: url(../img/communication.PNG) no-repeat center center;
}
.icon_box > .icon:nth-child(2) em {
    background: url(../img/1482223090_vector_65_06.png) no-repeat center center;
}
.icon_box > .icon:nth-child(3) em {
    background: url(../img/speed.PNG) no-repeat center center;
}
.icon_box2 > .icon:nth-child(1) em {
    background: url(../img/1482223233_Clock.png) no-repeat center center;
}
.icon_box2 > .icon:nth-child(2) em {
    background: url(../img/smile.png) no-repeat center center;
}
.icon_box .icon:nth-child(3),
.icon_box2 .icon:nth-child(2) {
    margin-right: 0px;
}
.icon > p {
    text-align: justify;
    font-size: 17px;
}
.icon > .po_i0 {
    font-style: normal;
    font-size: 20px;
    padding-bottom: 7px;
    display: block;
    color: #FF8F00;
    text-align: center;
    font-weight: 600;
}
.po_i1{
    font-style: normal;
    color: #FF8F00;
}

/*3번째*/

.con_pf {
    width: 960px;
    height: 600px;
    margin: 220px auto 0;
}

.con_pf > h2 {
    color: #eee;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: 1.3px;
    text-shadow: 2px 2px 2px;
}
.pp {
    text-align: center;
    color: #eee;
    padding-bottom: 40px;
    font-size: 20px;
}
.pf_box {
    width: 300px;
    height: 230px;
    border: 2px solid #fff;
    box-sizing: border-box;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
    transition: all 1s;
    position: relative;
}

.pf_box img{
    width: 100%;
}
.box_a {
    width: 100%;
    height: 100%;
}
/* .pf_boxx1 {
    background: url('../img/pf1.png') no-repeat center center rgba(255, 255, 255, 0.7);
    background-size: contain;
} */
/* .pf_boxx2 {
    background: url('../img/pf6.png') no-repeat center center rgba(255, 255, 255, 0.7);
    background-size: contain;
}
.pf_boxx3 {
    background: url('../img/pf3.png') no-repeat center center rgba(255, 255, 255, 0.7);
    background-size: contain;
}
.pf_boxx4 {
    background: url('../img/pf4.png') no-repeat center center rgba(255, 255, 255, 0.7);
    background-size: contain;
}
.pf_boxx5 {
    background: url('../img/pf5.PNG') no-repeat center center rgba(255, 255, 255, 0.7);
    background-size: contain;
}
.pf_boxx6 {
    background: url('../img/enp.png') no-repeat center center rgba(255, 255, 255, 0.7);
} */
.pf_boxx3,
.pf_boxx6 {
    margin-right: 0;
}

.pf_box > div {
    width: 296px;
    height: 200px;
    opacity: 0;
    font-size: 14px;
    color: #333;
    text-align: center;
    position: absolute;
    top:0;
}

.pf_box > div i {
    border: 2px solid #333;
    border-radius: 50%;
    padding:10px;
    top: 50%;
    margin-top: -17px;
    left: 50%;
    margin-left: -17px;
    position: absolute;
    font-weight: bold;
}

.pf_box p {
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-family: 'Noto Sans Gothic', sans-serif;
    font-weight: 400;
    line-height: 28px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 296px;
}
.pf_box:hover {
    /* background-image: none;
    background-color: rgba(255, 255, 255, 0); */
}

.pf_box:hover p {
    display: block;
}

.pf_box:hover div{
    opacity: 1;
}

.pf_box:hover i{
    background-color: #fff;
    opacity: 1;
}