@charset "utf-8";

/*@import 'https://fonts.googleapis.com/css?family=Monoton';
@import 'https://fonts.googleapis.com/css?family=Play';*/

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* header start */

header {
    width: 100%;
    height: 95px;
    background: url('../img/top_bg.png');
}

.top {
    position: relative;
    width: 1200px;
    height: 95px;
    margin: 0 auto;
}

.seach > ul {
    position: absolute;
    left: 700px;
    font-family: 'Noto Sans KR';
}

.seach > .m_btn_menu {
    display: none;
}

.seach > ul > li {
    float: left;
    margin: 12px 15px;
    color: #fff;
    font-size: 12px;
}

.gnb .top_logo {
    position: absolute;
    top: 50px;
    left: 54px;
}

.gnb .btnMenu {
    display: none;
}

.gnb .menu {
    width: 500px;
    height: 53px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 45px;
}

.menu > li > a {
    font-family: 'Noto Sans KR';
    float: left;
    padding: 0px 20px;
    color: #000;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    padding-bottom: 20px;
    margin-top: 5px;
}

.menu .gnb_on > a {
    color: #fff;
    background: #5b3d0c;
    font-weight: 100;
    font-size: 20px;
}


/* header end */


/*footer*/

footer {
    clear: both;
    display: block;
    width: 100%;
    height: 150px;
    background: #323131;
    color: #eee;
    margin-top: 20px;
    font-family: 'Noto Sans KR';
}

.fo_conte {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    position: relative
}

.fo_con_list {
    display: block;
    position: absolute;
    margin-left: 15px;
}

.fo_con_ul > li {
    float: left;
    padding: 20px 10px 0 0;
}

.adress {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.snsSet {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.snsSet > ul > li {
    float: left;
    margin: 0 5px;
}


/*main img*/

.main_img {
    width: 100%;
    height: 316px;
}

.bg_img {
    width: 100%;
    height: 251px;
    background: url('../img/sub02_bg_img.png') no-repeat center center;
    background-size: cover;
}

.sub_gnb {
    width: 100%;
    height: 65px;
    background: #323131;
}

.sub_gnb > ul {
    width: 408px;
    height: 65px;
    margin: 0 auto;
}

.sub_gnb > ul > li > a {
    float: left;
    text-align: center;
    /*    width:72px;*/
    display: block;
    color: #eee;
    margin: 0px 20px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    font-family: 'Noto Sans KR';
}

#sub_gnb_on:nth-child(1) a {
    color: #e1cea9
}


/*content start*/

.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.co_h2 {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    padding: 30px 0 14px;
    border-bottom: 5px solid #5b3d0c;
    width: 1100px;
    text-align: center;
    margin-bottom: 50px;
}

.display_info {
    margin-bottom: 80px;
    display: block;
}

.dis_ifo_co {
    width: 985px;
    height: 270px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
}

.dis_ifo_co > div {
    float: left;
    height: 270px;
    font-size: 16px;
}

.dis_ifo_co > div:nth-child(1) {
    width: 218px;
}

.dis_ifo_co > div:nth-child(2) {
    width: 315px;
    margin-left: 102px;
    margin-right: 85px;
}

.dis_ifo_co > div:nth-child(3) {
    width: 265px;
}

.dis_info_ic {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto 15px;
    background-size: cover;
}

.dis_info_box:nth-child(1) .dis_info_ic {
    background: url('../img/sub2_co1_icon01.png') no-repeat center center;
}

.dis_info_box:nth-child(2) .dis_info_ic {
    background: url('../img/sub2_co1_icon02.png') no-repeat center center;
}

.dis_info_box:nth-child(3) .dis_info_ic {
    background: url('../img/sub2_co1_icon03.png') no-repeat center center;
}

.dis_info_ic_box > span {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.dis_info_box > p {
    margin-top: 15px;
}

.explain_info {
    margin-bottom: 80px;
}

.explain_info_table {
    width: 840px;
    height: 450px;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
}

.explain_info_tr {
    background: #e1cea9;
    font-size: 16px;
    font-weight: 500;
}

.explain_info_tr > th,
.explain_info_table > tr > td,
.explain_info_tr_td > td {
    border: 1px solid #000;
}

.table_p_gap {
    margin-bottom: 20px;
}

.explain_txt {
    width: 840px;
    height: 100%;
    margin: 0 auto;
}

.explain_txt01 {
    margin-top: 35px;
}

.explain_txt01 > p:nth-child(1) {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
}
.explain_txt01 > p:nth-child(2) {
    line-height: 22px;
}

.book {
    font-family: 'Noto Sans KR';
}

.book01 {
    width: 865px;
    height: 112px;
    background: #e1cea9;
    margin: 0 auto;
}

#book01_2 {
    margin-top: 20px;
}

.book01_1_1 {
    width: 650px;
    padding-top: 20px;
    margin-left: 15px;
    float: left;
    letter-spacing: -1px;
}

.book01_2_1 {
    width: 500px;
    padding-top: 20px;
    margin-left: 15px;
    float: left;
    letter-spacing: -1px;
}

.book01_1_1 > span,
.book01_2_1 > span {
    font-size: 18px;
    font-weight: 600;
}

.book01_1_1 > p,
.book01_2_1 > p {
    margin-top: 2px;
    font-size: 16px;
}

.book01_1_2 {
    float: right;
    margin-right: 45px;
    margin-top: 30px;
}

.book01_1_2 > a {
    display: block;
    width: 118px;
    height: 58px;
    background: url('../img/sub02_btn.png') no-repeat center center;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.book_btn_gap {
    margin-right: 15px;
    line-height: 20px;
    padding-top: 10px;
}

.book_btn2_gap {
    padding-top: 18px;
}

.explain_info_m {
    display: none;
}

.m_blind {
    display: none;
}

@media screen and (max-width:639px) {
    body {
        width: 640px;
        overflow-x: hidden;
    }
    header {
        position: relative;
        width: 639px;
        ;
        height: 50px;
        background: #e1cea9;
    }
    .top {
        width: 639px;
    }
    .gnb {
        width: 639px;
    }
    .gnb .top_logo {
        position: absolute;
        top: 8px;
        left: 20px;
    }
    .gnb .btnMenu {
        display: block;
        position: absolute;
        top: 12px;
        left: 586px;
    }
    .main_img_wrap {
        width: 100%;
        height: 385px;
        position: relative
    }
    .main_img {
        width: 639px;
        height: 100%;
        background: url('../img/main_img_m.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
    }
    .seach > ul {
        position: absolute;
        left: 0px;
        top: 0;
        font-family: 'Noto Sans KR';
        z-index: 15;
        width: 320px;
        background: #1e1d1d;
        border-bottom: 2px solid #fff;
        display: none;
    }
    .seach > ul > li {
        float: left;
        margin: 12px 10px;
        color: #eee;
        font-size: 20px;
    }
    .seach > ul > li > input {
        display: none;
    }
    .seach > .m_btn_menu {
        display: none;
        position: absolute;
        top: 0;
        z-index: 20;
        width: 320px;
        height: 50px;
        background: #fff;
    }
    .m_logo {
        position: absolute;
        left: 79px;
        top: 8px;
    }
    .x_btn {
        position: absolute;
        top: 8px;
        left: 285px;
    }
    .gnb .menu {
        position: absolute;
        width: 320px;
        height: 307px;
        background: #e1cea9;
        border: 2px solid #eee;
        z-index: 10;
        display: none;
    }
    .menu > li {
        clear: both;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        width: 317px;
        color: #5b3d0c;
        font-weight: bold;
        font-size: 30px;
        height: 50px;
        border-bottom: 2px solid #5b3d0c;
        text-align: center;
        margin: 0;
    }
    .menu > li > a {
        color: #5b3d0c;
        display: block;
        width: 317px;
        height: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 50px;
    }
    .menu > li > a:hover {
        background: #5b3d0c;
        border: #5b3d0c;
        color: #fff;
    }
    .menu .gnb_on > a {
        color: #5b3d0c;
        background: #e1cea9;
        font-weight: bold;
        font-size: 20px;
    }
    /*  gnb end  */
    /*  footer start    */
    footer {
        clear: both;
        display: block;
        width: 100%;
        height: 150px;
        background: #323131;
        color: #eee;
        margin-top: 20px;
    }
    .fo_conte {
        width: 600px;
        height: 150px;
        margin: 0 auto;
        position: relative
    }
    /*  footer end*/
    .main_img {
        width: 100%;
        height: 215px;
    }
    .bg_img {
        width: 100%;
        height: 150px;
        background: url('../img/sub02m_bg_img.png') no-repeat center center;
        background-size: cover;
    }
    .sub_gnb {
        width: 100%;
        height: 65px;
        background: #323131;
    }
    .sub_gnb > ul {
        width: 386px;
        height: 65px;
        margin: 0 auto;
        padding-left: 50px;
    }
    .sub_gnb > ul > li > a {
        float: left;
        text-align: center;
        display: block;
        color: #eee;
        margin: 0px 15px;
        font-size: 18px;
        line-height: 60px;
        font-weight: 500;
        font-family: 'Noto Sans KR';
    }
    #sub_gnb_on:nth-child(1) a {
        color: #e1cea9;
        font-weight: 600;
        font-family: 'Noto Sans KR';
        font-size: 18px;
    }
    .content {
        width: 600px;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .co_h2 {
        margin: 0 auto;
        font-size: 24px;
        font-family: 'Noto Sans KR';
        padding: 30px 0 15px;
        border-bottom: 5px solid #5b3d0c;
        width: 542px;
        text-align: center;
        margin-bottom: 25px;
    }
    .display_info {
        width: 100%;
        height: 652px;
        margin-bottom: 0px;
    }
    .dis_ifo_co {
        width: 600px;
        margin: 0 auto;
        font-family: 'Noto Sans KR';
    }
    .dis_ifo_co > div {
        clear: both;
        width: 600px;
        font-size: 16px;
        height: 200px;
    }
    .dis_ifo_co > div:nth-child(1) {
        width: 600px;
        height: 180px;
    }
    .dis_ifo_co > div:nth-child(2) {
        width: 600px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .dis_ifo_co > div:nth-child(3) {
        width: 600px;
        height: 180px;
    }
    .dis_info_ic_box {
        float: left;
        width: 90px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .dis_info_ic_box > span {
        font-size: 22px;
    }
    .dis_info_box > p {
        float: left;
        width: 370px;
        margin-top: 0px;
        line-height: inherit;
        font-size: 20px;
        letter-spacing: -1px;
    }
    .explain_info {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .explain_info_table {
        display: none;
    }
    /*모바일 전시 표*/
    .explain_info_m {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
    .tr_th {
        background: #e1cea9;
        padding: 5px 0;
        border: 1px solid #000;
    }
    .tr_td {
        border: 1px solid #000;
        padding: 5px 0
    }
    .tr1th {
        width: 300px;
    }
    .explain_info_table_m1 {
        border: 1px solid #000;
        text-align: center;
        border-collapse: collapse;
    }
    .tr2th {
        width: 430px;
    }
    .tr3th {
        width: 170px;
    }
    .m1_1 {
        margin-bottom: 20px;
    }
    .ta_ca {
        margin-bottom: 8px;
        font-size: 22px;
    }
    /*모바일 전시표 끝*/
    .explain_txt {
        width: 600px;
        height: 100%;
        margin: 0 auto;
    }
    .explain_txt {
        line-height: 24px;
    }
    .explain_txt01 {
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .explain_txt01 > p:nth-child(1) {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 4px;
    }
    .explain_txt01 > p:nth-child(2) {
        line-height: 22px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .booK {
        width: 600px;
        margin: 0 auto;
    }
    .book01 {
        width: 100%;
        height: 125px;
        background: #e1cea9;
        margin: 0 auto;
    }
    #book01_2 {
        margin-top: 15px;
    }
    .book01_1_1 {
        width: 430px;
        padding-top: 7px;
        margin-left: 15px;
        float: left;
        letter-spacing: -1px;
    }
    .book01_2_1 {
        width: 320px;
        padding-top: 7px;
        margin-left: 15px;
        float: left;
        letter-spacing: -1px;
    }
    .book01_1_1 > span,
    .book01_2_1 > span {
        font-size: 22px;
        font-weight: 600;
    }
    .book01_1_1 > p,
    .book01_2_1 > p {
        margin-top: 2px;
        font-size: 18px;
    }
    .book01_1_2 {
        float: right;
        margin-right: 30px;
        margin-top: 30px;
    }
    .book01_1_2 > a {
        display: block;
        width: 103px;
        height: 50px;
        background: url('../img/sub02m_btn.png') no-repeat center center;
        color: #fff;
        font-size: 15px;
        text-align: center;
        float: left;
    }
    .book_btn_gap {
        margin-right: 15px;
        line-height: 20px;
        padding-top: 5px;
    }
    .book_btn2_gap {
        padding-top: 15px;
    }
}


/*미디어쿼리 닫힘*/