@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

ul li {
    list-style: none;
}

h2 {
    text-decoration: none;
}


/*header*/

header {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    position: relative;
}

#language {
    width: 100px;
    border: none;
    position: absolute;
    top: 85px;
    left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #707070;
}

.top_logo {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50px;
}


/*seach*/

.senlo {
    position: absolute;
    right: 10px;
    top: 90px;
}

.senlo_list > li {
    float: left;
    margin: 0 4px;
    font-size: 13px;
    font-family: 'Noto Sans KR';
    color: #707070;
}

.senlo_list img {
    width: 80%;
    padding-top: 3px;
}

.seach {
    position: absolute;
    right: 120px;
    display: none;
}


/*gnb*/

nav {
    width: 100%;
    height: 53px;
    background: #222;
    position: relative;
}

.gnb_wrap {
    width: 1200px;
    height: 53px;
    margin: 0 auto;
    line-height: 53px;
}

ul.gnb {
    width: 100%;
    height: 53px;
}

ul.gnb > li {
    width: 200px;
    height: 53px;
    float: left;
    position: relative;
}

ul.gnb > li > a {
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.1px;
}

ul.gnb > li > .gnb00_a:hover,
ul.gnb > li > .gnb00_a.off {
    color: #c1a774;
}

ul.gnb > li > ul {
    position: absolute;
    width: 1000px;
    height: 53px;
    top: 48px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #6a5f59;
    display: none;
    z-index: 5;
}

ul.gnb > li:nth-child(1) .gnb01 {
    left: 40px;
    width: 500px;
}

ul.gnb > li:nth-child(2) .gnb01 {
    left: 58px;
    width: 980px;
}

ul.gnb > li:nth-child(3) .gnb01 {
    left: 42.5px;
    width: 550px;
}

ul.gnb > li:nth-child(4) .gnb01 {
    left: 36px;
    width: 300px;
}

ul.gnb > li:nth-child(5) .gnb01 {
    left: 43px;
    width: 300px;
}

ul.gnb > li:nth-child(6) .gnb01 {
    left: -45px;
    width: 300px;
}

ul.gnb > li > ul > li {
    float: left;
    margin: 0 10px;
    letter-spacing: -1px;
}

ul.gnb > li > ul.on {
    display: block;
}

.gnb01_bg {
    position: absolute;
    width: 100%;
    height: 45px;
    background: #d7d3d1;
    top: 53px;
    display: none;
    z-index: 3;
}

.gnb01_bg.on {
    display: block;
}


/*footer start*/

footer {
    margin-top: 100px;
    width: 100%;
    height: 225px;
    background: #464646;
    color: #fefcfc;
    font-family: 'Noto Sans KR', sans-serif;
}

.fo_contents > div ul li span {
    font-size: 15px;
    margin-bottom: 7px;
    color: #fff;
}

.fo_contents > div ul li {
    display: block;
    font-size: 12px;
    line-height: 1.8;
    color: #fff;
}

.fo_contents > div ul li a {
    display: block;
    font-size: 12px;
    line-height: 1.8;
    color: #fff;
}

.fo_contents {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 45px;
    box-sizing: border-box;
}

.fo_co_01 {
    float: left;
    margin-left: 75px;
    margin-right: 143px
}

.fo_co_02 {
    float: left;
    margin-right: 144px
}

.fo_co_03 {
    float: left;
    margin-right: 143px
}

.fo_co_04 {
    float: left;
    margin-right: 142px
}

.fo_co_05 {
    float: left;
}

.fo_co_05 > img {
    padding-right: 5px;
}

.fo_co_sp_gab {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 300;
}

address {
    width: 100%;
    height: 63px;
    background: #000;
    font-size: 12px;
    font-weight: 200;
}

.addres {
    width: 1200px;
    margin: 0 auto;
}

.addre_ul {
    display: block;
    width: 1100px;
    margin: 0 auto;
    color: #fefcfc;
    font-style: normal;
    box-sizing: border-box;
    height: 63px;
    line-height: 63px;
}

.addre_ul > li {
    float: left;
    margin-right: 10px;
}

.addre_ul >.addre_ul_red {
    color: #bd132e;
}

.familysite_li {
    width: 150px;
}

.familysite {
    background: #000;
    border: none;
    color: #fefcfc;
    height: 16px;
    font-size: 12px;
    width: 130px;
}


/*contents*/

.content {
    position: relative;
}

.bg_pattern {
    position: absolute;
    z-index: -1;
    top: 1105px;
}

.main_img {
    width: 100%;
    height: 467px;
    background: url('../img/co_main_img.png') no-repeat center center;
    background-size: cover;
}

.main_img > p {
    text-align: center;
}

.main_img > p:nth-child(1) {
    padding-top: 173px;
}

.main_img > p:nth-child(2) {
    padding-top: 22px;
}

.main_img > p:nth-child(3) {
    padding-top: 30px;
    color: #fff;
    font-size: 20px;
}

.sub_gnb {
    width: 100%;
    height: 53px;
    background-color: #f4f4f3;
}

.sub_gnb ul {
    width: 400px;
    height: 53px;
    line-height: 53px;
    margin: 0 auto;
}

.sub_gnb ul li {
    float: left;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.sub_gnb ul li a {
    font-family: 'Noto Sans KR', sans-serif;
}

.sub_gnb ul li a:hover {
    color: #c1a774
}

.con_event {
    clear: both;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.con_mente {
    width: 455px;
    height: 124px;
    margin: 87px auto 54px;
}



.con_mente > h2 {
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -1px;
    color: #c1a774;
}




.con_mente > div {
    width: 60px;
    height: 1px;
    margin: 8px auto 12px;
    background-color: #c1a774;
}


.con_mente > p {
    margin-top: 9px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #707070;
}

.con_event_box1 {
    width: 1060px;
    height: 530px;
    margin: 0 auto;
}

.con_event_box1 > div {
    width: 265px;
    height: 265px;
    background-size: cover;
    float: left;
    color: #fff;
    text-align: center;
}

.con_event_box1 > div:nth-child(1) {
    background-color: #eeeeee;
}

.con_event_box1 > div:nth-child(2) {
    border: 1px solid #eee;
    box-sizing: border-box;
    background-image: url(../img/event1.png);
    background-size: cover;
    background-color: #fff;
}

.con_event_box1 > div:nth-child(3) {
    border: 1px solid #eee;
    box-sizing: border-box;
    background-image: url(../img/event2.png);
    background-size: cover;
    background-color: #fff;
    ;
}

.con_event_box1 > div:nth-child(4) {
    box-sizing: border-box;
    background-image: url(../img/event3.png);
    background-size: cover;
    background-color: #fff;
}

.con_event_box1 > div:nth-child(5) {
    width: 530px;
    box-sizing: border-box;
    background-image: url(../img/event4.png);
    background-size: cover;
    background-color: #fff;
}

.con_event_box1 > div:nth-child(6) {
    box-sizing: border-box;
    background-image: url(../img/event5.png);
    background-size: cover;
    background-color: #fff;
}

.con_event_box1 > div:nth-child(7) {
    box-sizing: border-box;
    background-image: url(../img/event6.png);
    background-size: cover;
    background-color: #fff;
}

.con_event_box1 > div:hover .event_hover {
    display: block;
}

.con_event_box1 > div:nth-child(2) .event_hover {
    background: #368a87;
}

.con_event_box1 > div:nth-child(3) .event_hover {
    background: #1c2381;
}

.con_event_box1 > div:nth-child(4) .event_hover {
    background: #5e68a4;
}

.con_event_box1 > div:nth-child(5) .event_hover {
    background: #191919;
}

.con_event_box1 > div:nth-child(6) .event_hover {
    background: #e85a46;
}

.con_event_box1 > div:nth-child(7) .event_hover {
    background: #333743;
}

.con_event_box1 > div > div {
    width: 100%;
    height: 100%;
}

.event_hover {
    display: none;
}

.event_hover_p {
    padding-top: 65px;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.event_hover_a {
    display: block;
    width: 120px;
    height: 55px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    border: 1px solid #fff;
    margin: 0 auto;
}

.con_event_box1 > div >p {
    text-align: left;
    margin-left: 30px;
}

.con_event_box1 > div:nth-child(1) p:nth-child(1) {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2f2e2d;
    margin-top: 37px;
    margin-bottom: 28px;
}

.con_event_box1 > div:nth-child(1) p:nth-child(2) {
    width: 149px;
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #c73049;
    border-top: 1px solid #c1a772;
    border-bottom: 1px solid #c1a772;
}


/*sns*/

.con_sns {
    margin-top: 87px;
}

.con_sns_box1 {
    width: 1060px;
    height: 530px;
    margin: 0 auto;
    background: #af6767;
    position: relative;
}

.con_sns_box1 > div {
    width: 265px;
    height: 265px;
    background-size: cover;
    float: left;
    color: #fff;
    text-align: center;
}

.con_sns_box1 > div >p {
    text-align: left;
    margin-left: 30px;
}

.con_sns_box1 > div:nth-child(1) p:nth-child(1) {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2f2e2d;
    margin-top: 37px;
    margin-bottom: 28px;
}

.con_sns_box1 > div:nth-child(1) p:nth-child(2) {
    width: 149px;
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #c73049;
    border-top: 1px solid #c1a772;
    border-bottom: 1px solid #c1a772;
}

.con_sns_box1 > div:nth-child(1) {
    background-color: #eeeeee;
}

.con_sns_box1 > div:nth-child(5) {
    width: 530px;
}

.sns_box2 {
    position: relative;
    overflow: hidden;
}

.sns_hover_be {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}

.sns_hover {
    position: absolute;
    top: 0;
    width: 265px;
    height: 265px;
    background: rgba(21, 21, 21, 0.6);
    display: none;
}

.sns_box2:nth-child(5) .sns_hover {
    width: 530px;
}

.sns_box2:hover .sns_hover {
    margin: 0px;
    transition: all 0.5s ease-in;
    display: block;
}

.sns_box2:hover .sns_hover_be {
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

.sns_hover > a {
    color: #fff;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-top: 93px;
    box-sizing: border-box;
}

.sns_box2:nth-child(2) .sns_hover a {
    margin-top: 105px;
}

.sns_box2:nth-child(3) .sns_hover a {
    margin-top: 105px;
}

.sns_hover_p01 {
    letter-spacing: -1.5px;
    font-weight: bold;
}

.sns_hover_p02 {
    font-weight: 200;
}

.sns_txt_go {
    width: 1060px;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2f2e2d;
    box-sizing: border-box;
}

.sns_txt_go1 {
    font-size: 24px;
    letter-spacing: 0.8px;
    padding-bottom: 23px;
}

.sns_txt_go2 {
    font-size: 20px;
    font-weight: 200
}

.sns_txt_go3 {
    margin-top: 30px;
    width: 1060px;
    height: 35px;
}

.sns_txt_go3 > img {
    float: left;
}

.sns_gabline_left {
    margin-top: 17px;
    margin-right: 67px;
}

.sns_gabline_right {
    margin-top: 17px;
    margin-left: 67px;
}


.sns_txt_go3 > img:nth-child(2) {
    margin-right: 14px;
}

.sns_txt_go3 > img:nth-child(3) {
    margin-right: 14px;
}

.sns_txt_go3 > img:nth-child(4) {
    margin-right: 14px;
}