@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}


/*header*/

header {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    position: relative;
}

#language {
    width: 100px;
    border: none;
    position: absolute;
    top: 85px;
    left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #707070;
}

a .top_logo {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50px;
}

/*seach*/

.senlo {
    position: absolute;
    right: 10px;
    top: 90px;
}

.senlo_list > li {
    float: left;
    margin: 0 4px;
    font-size: 13px;
    font-family: 'Noto Sans KR';
    color: #707070;
}

.senlo_list img {
    width: 80%;
    padding-top: 3px;
}

.seach {
    position: absolute;
    right: 120px;
    display: none;
}


/*gnb*/

nav {
    width: 100%;
    height: 53px;
    background: #222;
    position: relative;
}

.gnb_wrap {
    width: 1200px;
    height: 53px;
    margin: 0 auto;
    line-height: 53px;
}

ul.gnb {
    width: 100%;
    height: 53px;
}

ul.gnb > li {
    width: 200px;
    height: 53px;
    float: left;
    position: relative;
}

ul.gnb > li > a {
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.1px;
}

ul.gnb > li > .gnb00_a:hover,
ul.gnb > li > .gnb00_a.off {
    color: #c1a774;
}

ul.gnb > li > ul {
    position: absolute;
    width: 1000px;
    height: 53px;
    top: 48px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #6a5f59;
    display: none;
    z-index: 5;
}

ul.gnb > li:nth-child(1) .gnb01 {
    left: 40px;
    width: 500px;
}

ul.gnb > li:nth-child(2) .gnb01 {
    left: 58px;
    width: 980px;
}

ul.gnb > li:nth-child(3) .gnb01 {
    left: 42.5px;
    width: 550px;
}

ul.gnb > li:nth-child(4) .gnb01 {
    left: 36px;
    width: 300px;
}

ul.gnb > li:nth-child(5) .gnb01 {
    left: 43px;
    width: 300px;
}

ul.gnb > li:nth-child(6) .gnb01 {
    left: -45px;
    width: 300px;
}

ul.gnb > li > ul > li {
    float: left;
    margin: 0 10px;
    letter-spacing: -1px;
}


/*ul.gnb > li > ul > li > a{
	
}*/

ul.gnb > li > ul.on {
    display: block;
}

.gnb01_bg {
    position: absolute;
    width: 100%;
    height: 45px;
    background: #d7d3d1;
    top: 53px;
    display: none;
    z-index: 3;
}

.gnb01_bg.on {
    display: block;
}


/*section*/

section {
    background: url('../img/pic1.png') no-repeat;
    height: 472px;
    position: relative;
}

section h2 {
    text-indent: -9999%;
}

section h2 img {
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -248px;
}

section div {
    width: 109px;
    border: 1px solid #c1a774;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -54.5px;
}

section h3 {
    width: 410px;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -205px;
    line-height: 30px;
}


/*main*/

main {
    height: 949px;
    position: relative;
}

main .menu {
    width: 680px;
    margin: 0 auto;
    margin-top: 127px;
    overflow: hidden;
    margin-bottom: 40px;
}

main .menu li {
    float: left;
    text-align: center;
    border: 1px solid #c1a774;
    width: 160px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
}

main .menu li:hover,
main .menu li.right {
    background: url('../img/ball.png') no-repeat;
    height: 52px;
    border: none;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 0;
}

main table {
    width: 1200px;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -600px;
    border-collapse: collapse;
}

main .no_2 {
    display: none;
}

main table td {
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

main table td span {
    color: #c31432;
}

main table .num {
    width: 94px;
    padding-left: 70px;
}

main table .cate {
    width: 125px;
}

main table .q {
    width: 22px;
    background: url('../img/circle.png') no-repeat 0 18px;
    color: #fff;
}

main table .con {
    width: 530px;
    text-align: left;
    padding-left: 30px;
}

main table .con {
    width: 530px;
    padding-left: 30px;
}

main table .q {
    width: 22px;
}

main table .day {
    width: 170px;
}

main table .a {
    width: 25px;
    background: url('../img/circle2.png') no-repeat 0 17px;
    color: #fff;
}

main table .z {
    width: 25px;
}

main table .an {
    width: 115px;
    padding-right: 70px;
}

main .buttons {
    margin: 700px auto 75px;
    width: 200px;
    overflow: hidden;
}

main .buttons li {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #666;
    cursor: pointer;
    font-size: 14px;
}

main .buttons li:hover {
    color: #c31432;
}

main .buttons li:nth-child(1) {
    border-left: none;
}

main .e_mail {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

main .e_mail span {
    float: left;
}

main .e_mail span i {
    font-size: 15px;
}

main .e_mail a {
    border: 1px solid #dfdfdf;
    padding: 5px 20px;
    float: right;
}


/*footer start*/

footer {
    margin-top: 100px;
    width: 100%;
    height: 225px;
    background: #464646;
    color: #fefcfc;
    font-family: 'Noto Sans KR', sans-serif;
}

.fo_contents > div ul li span {
    font-size: 15px;
    margin-bottom: 7px;
    color: #fff;
}

.fo_contents > div ul li {
    display: block;
    font-size: 12px;
    line-height: 1.8;
    color: #fff;
}

.fo_contents > div ul li a {
    display: block;
    font-size: 12px;
    line-height: 1.8;
    color: #fff;
}

.fo_contents {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 45px;
    box-sizing: border-box;
}

.fo_co_01 {
    float: left;
    margin-left: 75px;
    margin-right: 143px
}

.fo_co_02 {
    float: left;
    margin-right: 144px
}

.fo_co_03 {
    float: left;
    margin-right: 143px
}

.fo_co_04 {
    float: left;
    margin-right: 142px
}

.fo_co_05 {
    float: left;
}

.fo_co_05 > img {
    padding-right: 5px;
}

.fo_co_sp_gab {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 300;
}


address {
    width: 100%;
    height: 63px;
    background: #000;
    font-size: 12px;
    font-weight: 200;
}

.addres {
    width: 1200px;
    margin: 0 auto;
}

.addre_ul {
    display: block;
    width: 1100px;
    margin: 0 auto;
    color: #fefcfc;
    font-style: normal;
    box-sizing: border-box;
    height: 63px;
    line-height: 63px;
}

.addre_ul > li {
    float: left;
    margin-right: 10px;
}

.addre_ul >.addre_ul_red {
    color: #bd132e;
}

.familysite_li {
    width: 150px;
}

.familysite {
    background: #000;
    border: none;
    color: #fefcfc;
    height: 16px;
    font-size: 12px;
    width: 130px;
}