@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

/*font-family: 'PT Sans Narrow', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Oswald');

/*font-family: 'Oswald', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

/*font-family: 'Pathway Gothic One', sans-serif;*/


/*리셋*/

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 0;
}


/*header start*/

header {
    width: 100%;
    height: 259px;
    position: relative;
    background: url('../img/header_bg.png');
}


/*top header*/

.top_header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.top_header_ul {
    position: absolute;
    right: 5px;
}

.top_header_ul > li {
    float: left;
    color: #fff;
    line-height: 50px;
    font-size: 15px;
}

.top_header_ul > li > a {
    color: #fff;
}

.ul_gap {
    margin: 0 17px;
}


/*mid header*/

.mid_header {
    width: 1200px;
    height: 80px;
    position: relative;
    margin: 0 auto;
}

.top_logo {
    position: absolute;
    left: 5px;
    top: 7px;
}

.gnb {
    position: absolute;
    right: 5px;
}

.gnb > li {
    float: left;
    margin-left: 50px;
    line-height: 80px;
    font-size: 18px;
}

.gnb > li > a {
    color: #333;
    font-weight: bold;
}


/*bottom header*/

div.bottom_header {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
}

.bottom_header_ul {
    width: 1038px;
    height: 110px;
    margin: 20px auto 0;
}

.bottom_header_ul > li {
    float: left;
    width: 73px;
    margin-right: 120px;
}

.bottom_header_ul > li:last-child {
    margin-right: 0px;
    margin-left: 0px;
}

.bottom_header_ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #63c3de;
    text-align: center;
    width: 73px;
    height: 100%;
    font-size: 18px;
    float: left;
    font-weight: bold;
}

.bottom_header_ul > li > a > p {
    margin-top: 10px;
}

.bottom_header_ul > li > a > em {
    width: 58px;
    height: 58px;
    background-size: cover;
    display: block;
    margin: 0 auto;
}

.bottom_header_em1 {
    background: url('../img/sub_gnb_ic01.PNG') no-repeat center center
}

.bottom_header_em2 {
    background: url('../img/sub_gnb_ic02.PNG') no-repeat center center
}

.bottom_header_em3 {
    background: url('../img/sub_gnb_ic03.PNG') no-repeat center center
}

.bottom_header_em4 {
    background: url('../img/sub_gnb_ic04.PNG') no-repeat center center
}

.bottom_header_em5 {
    background: url('../img/sub_gnb_ic05.PNG') no-repeat center center
}

.bottom_header_em6 {
    background: url('../img/sub_gnb_ic06.PNG') no-repeat center center;
}


/*main img*/

.main_img {
    width: 100%;
    height: 542px;
    background: url('../img/main_img.png') no-repeat center center;
    background-size: cover;
    clear: both;
}

.main_txt {
    width: 600px;
    padding-left: 24%;
    text-align: center;
}

.main_txt01 {
    font-size: 50px;
    color: #333;
    font-weight: 500;
    padding-top: 25%;
}

.main_txt02 {
    font-size: 23px;
    color: #333;
    padding-top: 2%;
}

.main_point {
    font-style: normal;
    font-size: 26px;
    color: #6397c7;
}

.main_txt03 {
    margin-top: 5%;
}

.main_txt03 > a {
    width: 240px;
    height: 50px;
    background: #333;
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
    letter-spacing: -1px;
}

.txt_gap {
    display: inline-block;
    width: 10px;
}


/*contents*/


/*chungdami*/

.contents {
    background-color: rgb(241, 241, 241);
}

.chungdami {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
}

.name {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    color: #4a7094;
    margin-top: 30px;
    margin-bottom: 45px;
}

.safe_icon {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 150px;
    box-sizing: border-box;
}

.safe_icon > div {
    float: left;
}

.safe_icon > div:nth-child(1),
.safe_icon > div:nth-child(2) {
    width: 88px;
}

.safe_icon > div:nth-child(2) {
    width: 162px;
    margin: 0 261px;
}

.safe_icon > div > a > p {
    font-size: 16px;
    color: #6397c7;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.safe_icon > div > a > em {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.safe_ic01 {
    background-image: url('../img/safe_ic01.png');
    background-size: cover;
}

.safe_ic02 {
    background-image: url('../img/safe_ic02.png');
    background-size: cover;
}

.safe_ic03 {
    background-image: url('../img/safe_ic03.png');
    background-size: cover;
}


/*before_after*/

.before_after {
    width: 1400px;
    height: 283px;
    background-color: #f1f1f1;
    background-image: url('../img/mid_img_bg.png');
    background-size: cover;
    margin: 0 auto;
}

.be_af_txt00 {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.be_af_txt01 {
    float: left;
    width: 600px;
}

#txttt {
    margin-left: 180px;
}

.be_af_img01,
.be_af_p01 {
    float: left;
}

.be_af_img01 {
    width: 331px;
    height: 237px;
    background: rgba(253, 251, 251, 0.5);
    border: 4px solid #fff;
}

.be_af_img01:hover {
    border: 4px solid #5684ad;
}

.be_af_p01 {
    padding-top: 80px;
    padding-left: 45px;
}

.be_af_txt01 > p > i > em {
    display: block;
    width: 3px;
    height: 18px;
    background: #121c24;
    float: left;
    margin-top: 6px;
    margin-right: 7px;
}

.be_af_txt01 > p > i {
    font-style: normal;
}

.txt_i01,
.txt_i02 {
    font-size: 18px;
    color: #fff;
}

.txt_i01 {
    font-weight: bold;
    float: left;
}

.txt_i02 {
    display: block;
    padding-top: 24px;
    padding-left: 10px;
    letter-spacing: -1px;
    clear: both;
}

.txt_i03 {
    font-size: 16px;
    color: #b4c5d7;
}

.txt_i0301 {
    margin-top: 35px;
    display: block;
}

.txt_i0302 {
    margin-top: 8px;
    display: block;
    padding-left: 10px;
}


/*infomation*/

.info {
    width: 1200px;
    height: 280px;
    margin: 0 auto;
    clear: both;
}

.name2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    color: #4a7094;
    margin: 20px 0 30px;
}


/*예약*/

.book {
    width: 400px;
    float: left;
}

.bookbox {
    width: 400px;
    height: 30px;
    margin-bottom: 30px;
}

.book_icon {
    float: left;
    padding-top: 7px;
    padding-right: 6px;
}

.info_txt {
    width: 285px;
    float: left;
    font-size: 20px;
    color: #155288;
}

.plus_btn {
    float: left;
    padding-top: 7px;
}

.month {
    width: 110px;
    height: 143px;
    float: left;
}
.month9 {
    width: 44px;
    height: 44px;
    background: #6397c7;
    border-radius: 50px;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 20px;
    float: left;
}
.week > th {
    padding: 0 7px 5px;
}
.day > td {
    padding-bottom: 3px;
}
.day > td,
.week >th {
    text-align: center;
}
.sun {
    color: red;
}
.sat {
    color: blue;
}
.today {
    background: #b5c6d5;
}

/*상담*/
.counsel {
    width: 340px;
    float: left;
    margin-left: 60px;
}
.counselbox {
    width: 400px;
    margin-bottom: 30px;
    height: 30px;
}
.counsel_icon {
    float: left;
    padding-top: 7px;
    padding-right: 6px;
}
.tel {
    width: 350px;
    float: left;
    font-size: 16px;
    padding-bottom: 8px;
}
.katalkid,
.counsel_icon2 {
    float: left;
}
.katalkid {
    width: 290px;
    padding-left: 10px;
}

/*gps*/
.gps {
    float: right;
    width: 350px;
}
.gps_icon {
    float: left;
    padding-top: 7px;
    padding-right: 6px;
}
.gps_img {
    float: left;
    margin-top: 30px;
}

/*footer*/
footer {
    background-color: #a6bcd0;
}
.footer_box {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    padding-top: 25px;
}
.bottom_logo {
    float: left;
}
.footer_txt {
    float: left;
    font-size: 12px;
    color: #fff;
    padding-left: 30px;
    margin-top: -5px;
}
.footer_txt > p {
    margin-bottom: 4px;
}
.sns {
    float: right;
}
.sns > a > img {
    padding-left: 3px;
}