@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');/*font-family: 'PT Sans Narrow', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Oswald');/*font-family: 'Oswald', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');/*font-family: 'Pathway Gothic One', sans-serif;*/


/*리셋*/
*{margin:0; padding:0;}
ol, ul{list-style:none;}
img{border:0; margin: 0; padding: 0;}
a{text-decoration: none;}
h2{margin:0;padding:0;}

/*header start*/
body{
    overflow-x: hidden
}
div#wrap {
    width: 100%;
    border: 1px solid transparent
}
header{
	width:100%;height: 259px;
	position: relative;
	background: url('../img/header_bg.png');
}
	/*top header*/
.top_header{
	width:1200px;height: 50px;
	margin: 0 auto;
	position: relative;
	/*border:1px solid blue;*/
}
.top_header_ul{
	position: absolute;
	right:5px;
}
.top_header_ul > li{
	float:left;
	color:#fff;
	line-height: 50px;
	font-size: 15px;
}
.top_header_ul > li > a{
	color:#fff
}
.ul_gap{
	margin:0 17px;
}
	/*mid header*/
.mid_header{
	width:1200px;height:80px ;
	position: relative;
	/*border:1px solid blue;*/
	margin: 0 auto;
}
.top_logo{
	position: absolute;
	left: 5px; top:7px;
}
.gnb{
	position: absolute;
	right:5px; 
}
.gnb > li{
	float: left;
	margin-left:50px;
	line-height: 80px;
	font-size:18px;
}
.gnb > li > a{
	color:#333;
	font-weight: bold;
}
    /*bottom header*/
div.bottom_header{
    width:1200px;
     height:110px;
    margin:0 auto;
}
.bottom_header_ul{
    width:1038px;
    height: 110px;
    margin:20px auto 0;
    
}
.bottom_header_ul > li{
    float:left;
    width:73px;
    margin-right: 120px;
}
.bottom_header_ul > li:last-child{
    margin-right:0px;
    margin-left: 0px;
}
.bottom_header_ul > li > a{
    display: block;
    width:100%;height: 100%;
    color:#63c3de;
    text-align: center;
    width:73px;height: 100%;
    font-size:18px;
    float: left;
    font-weight: bold;
}

.bottom_header_ul > li > a > p{
    margin-top: 10px;
}
.bottom_header_ul > li > a > em{
    width:58px;height: 58px;
    background-size: cover;
    display: block;
    margin:0 auto;
}

.bottom_header_em1{
    background: url('../img/sub_gnb_ic01.PNG') no-repeat center center
}
.bottom_header_em2{
    background: url('../img/sub_gnb_ic02.PNG') no-repeat center center
}
.bottom_header_em3{
    background: url('../img/sub_gnb_ic03.PNG') no-repeat center center
}
.bottom_header_em4{
    background: url('../img/sub_gnb_ic04.PNG') no-repeat center center
}
.bottom_header_em5{
    background: url('../img/sub_gnb_ic05.PNG') no-repeat center center
}
.bottom_header_em6{
    background: url('../img/sub_gnb_ic06.PNG') no-repeat center center
}



/*main img*/
.contents{
    background: #f1f1f1;
    width:100%;
    overflow: hidden
/*    width:100%;height: 80%;*/

}

div.m_img {
    background: url('../img/sub_main_img.png') no-repeat;
    width:100%; height: 281px;
    background-size: cover;
    margin: 0; padding:0;
    
}
div.m_img div.m_text {
    width:1200px;
    margin: 0 auto;
    text-align: left;
}
div.m_text> img {
    padding-top:8%;
    padding-bottom: 1%;
    
}

/*contents*/

.co_txt{
    width:1200px;
    margin: 40px auto;
    clear:both;
    box-sizing: border-box;
}
.co_bigtxt{
    font-size: 24px;
    color:#376a9a;
    background: url('../img/sub_bullet_bg.png') no-repeat;
    line-height:25px;
    height: 30px;
    margin-bottom: 40px;
}
.txt_gap01{
    display: block;
    width:20px;height:30px;
    float: left;
}
.small_txt{
    width:1200px;
    height: 190px;
    margin-bottom: 20px;
    background: #fff;
}
.small_txt > img{
    float: left;
    margin:10px 100px ;
    
}
.small_txt01{
    float: left;
    width:550px;
}
.small_txt01 > p:nth-child(1){
    font-size:18px;
    color:#376a9a;
    padding-top:45px;
    font-weight: 600;
}
.small_txt01 > p:nth-child(2){
    font-size:17px;
    color:#848484;
    padding-top:15px;
    font-weight: 500;
    line-height: 22px;
}
/*footer*/
footer{
    background-color:#a6bcd0;
}
.footer_box{
    width:1200px;height: 110px;
    margin:0 auto;
    padding-top:25px;
}

.bottom_logo{
    float: left;
}

.footer_txt{
    float: left;
    font-size:12px;
    color:#fff;
    padding-left: 30px;
    margin-top: -5px;
}
.footer_txt > p {
    margin-bottom: 4px;
    
}
.sns{
    float: right;
}

.sns > a > img{
    padding-left: 3px;
}






