@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansgothic.css);

/*font-family: 'Noto Sans Gothic', sans-serif;*/

* {
    margin: 0;
    padding: 0
}

img {
    border: none
}

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}


/*header start*/

header {
    width: 100%;
    height: 120px;
    background: url('../img/header_bg.png');
    font-family: 'Noto Sans Gothic', sans-serif;
}

.header-top {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.top_logo {
    margin-left: 60px;
    margin-top: 25px;
    float: left;
}

.gnb {
    float: right;
    margin-right: 60px;
    margin-top: 35px;
}

.gnb > li {
    float: left;
}

.gnb > li:hover a {
    color: #c51c3f;
}

.gnb > li > a {
    font-size: 20px;
    color: #3e2f2f;
    display: block;
    margin-left: 60px;
    font-weight: 600;
}

.gnb > li > img {
    margin-top: 15px;
}

.sub_gnb {
    /*    width:1200px;height: 31px;*/
    width: 396px;
    height: 28px;
    clear: both;
    padding-top: 28px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

.sub_gnb > li {
    float: left;
}

.sub_gnb > li > a {
    color: #000;
    font-size: 18px;
    margin: 0 10px;
    font-weight: 600
}

.sub_gnb > li > .gnb_on2 {
    color: #c51c3f;
}


/*content*/

.main_img {
    width: 100%;
    height: 818px;
    background: url('../img/main_img.png') no-repeat center center;
    position: relative;
}

.txt {
    width: 600px;
    height: 235px;
    background: rgba(216, 216, 216, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -117px;
}

.txt > p {
    text-align: center;
    font-family: 'Noto Sans Gothic', sans-serif;
}

.txt > p:nth-child(1) {
    color: #2e2121;
    font-size: 30px;
    padding-top: 70px;
    font-weight: 500;
}

.txt > p:nth-child(2) {
    color: #fe0303;
    font-size: 50px;
    padding-top: 10px;
    font-weight: 600;
}


/*footer*/

footer {
    width: 100%;
    height: 140px;
    background-color: #ccc;
}

.sns {
    width: 248px;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0;
}

.sns > img {
    display: block;
    width: 42px;
    height: 42px;
    float: left;
    margin: 0 10px;
}

address {
    width: 100%;
    height: 72px;
    text-align: center;
    color: #736d6e;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}