@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansgothic.css);

/*font-family: 'Noto Sans Gothic', sans-serif;*/

* {
    margin: 0;
    padding: 0
}

img {
    border: none
}

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}


/*header start*/

header {
    width: 100%;
    height: 120px;
    background: url('../img/header_bg.png');
    font-family: 'Noto Sans Gothic', sans-serif;
}

.header-top {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.top_logo {
    margin-left: 60px;
    margin-top: 25px;
    float: left;
}

.gnb {
    float: right;
    margin-right: 60px;
    margin-top: 35px;
}

.gnb > li {
    float: left;
}

.gnb > li:hover a {
    color: #c51c3f;
}

.gnb > li > a {
    font-size: 20px;
    color: #3e2f2f;
    display: block;
    margin-left: 60px;
    font-weight: 600;
}

.gnb > li > img {
    margin-top: 15px;
}

.sub_gnb {
    /*    width:1200px;height: 31px;*/
    width: 396px;
    height: 28px;
    clear: both;
    padding-top: 28px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

.sub_gnb > li {
    float: left;
}

.sub_gnb > li > a {
    color: #000;
    font-size: 18px;
    margin: 0 10px;
    font-weight: 600;
}

.sub_gnb > li > .gnb_on2 {
    color: #c51c3f;
}

.contents {
    width: 1200px;
    height: 100%;
    overflow: hidden;
    /*
    border:1px solid red;
*/
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Noto Sans Gothic', sans-serif;
}

.co_h2 {
    background: url('../img/h2_bullet.png') no-repeat center left;
    margin: 45px 0 30px 60px;
    color: #3e2f2f;
    font-size: 22px;
}

.co_h2_gap {
    display: inline-block;
    width: 38px;
    height: 20px;
}

.big_txt {
    width: 1200px;
    height: 120px;
    text-align: center;
    margin-bottom: 50px;
}

.big_txt > p:nth-child(1) {
    font-size: 24px;
    color: #c4183c;
    padding-bottom: 20px;
    font-weight: 800;
}

.big_txt > p:nth-child(2) {
    font-size: 20px;
    color: #120d0d;
    font-weight: 500;
    line-height: 30px;
}

.img3 {
    margin: 0 60px;
}

.img {
    width: 322px;
    height: 100%;
    text-align: center;
    float: left;
}

.img3 >.img:nth-child(2) {
    margin: 0 57px;
}

.img > img {
    padding-bottom: 60px;
}

.img_p01 {
    color: #175af2;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.img_p02 {
    font-size: 18px;
    color: #120d0d;
    letter-spacing: -1px;
    line-height: 24px;
    font-weight: 500;
}

footer {
    width: 100%;
    height: 140px;
    background-color: #ccc;
}

.sns {
    width: 248px;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0;
}

.sns > img {
    display: block;
    width: 42px;
    height: 42px;
    float: left;
    margin: 0 10px;
}

address {
    width: 100%;
    height: 72px;
    text-align: center;
    color: #736d6e;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}