@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansgothic.css);

/*font-family: 'Noto Sans Gothic', sans-serif;*/

* {
    margin: 0;
    padding: 0
}

img {
    border: none
}

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}


/*header start*/

header {
    width: 100%;
    height: 120px;
    background: url('../img/header_bg.png');
    font-family: 'Noto Sans Gothic', sans-serif;
}

.header-top {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.top_logo {
    margin-left: 60px;
    margin-top: 25px;
    float: left;
}

.gnb {
    float: right;
    margin-right: 60px;
    margin-top: 35px;
}

.gnb > li {
    float: left;
}

.gnb > li:hover a {
    color: #c51c3f;
}

.gnb > li > a {
    font-size: 20px;
    color: #3e2f2f;
    display: block;
    margin-left: 60px;
    font-weight: 600;
}

.gnb > li > img {
    margin-top: 15px;
}

.sub_gnb {
    /*    width:1200px;height: 31px;*/
    width: 396px;
    height: 28px;
    clear: both;
    padding-top: 28px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

.sub_gnb > li {
    float: left;
}

.sub_gnb > li > a {
    color: #000;
    font-size: 18px;
    margin: 0 10px;
    font-weight: 600;
}

.sub_gnb > li > .gnb_on2 {
    color: #c51c3f;
}


/*contents*/

.contents {
    width: 1200px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Noto Sans Gothic', sans-serif;
}

.co_h2 {
    background: url('../img/h2_bullet.png') no-repeat center left;
    margin: 45px 0 30px 60px;
    color: #3e2f2f;
    font-size: 22px;
}

.co_h2_gap {
    display: inline-block;
    width: 38px;
    height: 20px;
}

.co_h3 {
    color: #020000;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.step01 {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
}

.step01 > img {
    width: 495px;
    height: 330px;
    display: block;
    float: left;
    margin-left: 45px;
}

.step01_txt,
.step02_txt {
    text-align: center;
    width: 660px;
    float: left;
}

.step01_txt > p:nth-child(1) {
    color: #c4183c;
    font-size: 20px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 20px;
}

.step01_txt > p:nth-child(2),
.step02_txt > p:nth-child(2) {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.step02 {
    width: 1200px;
    height: 286px;
    clear: both;
    padding-bottom: 45px;
}

.step02_txt > p:nth-child(1) {
    color: #175af2;
    font-size: 20px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 20px;
}

.step02 > img {
    width: 454px;
    height: 286px;
    display: block;
    padding-left: 20px;
}

.request {
    width: 1080px;
    background: #e0e0de;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 30px;
}

input {
    display: inline-block;
    width: 100px;
    border: 1px solid #c5c1b9;
    background-color: #e6e5e5;
}

.select_op > option,
.select_op {
    border: 1px solid #c5c1b9;
    background-color: #e6e5e5;
}

fieldset {
    border: none;
}

.request > fieldset > p:nth-child(1) {
    padding-top: 20px;
}

.request > fieldset > p {
    width: 100%;
    height: 35px;
}

.request > fieldset > p:last-child {
    height: 120px;
}

#guitare {
    width: 750px;
    height: 100px;
}

#name {
    width: 150px;
}

.th {
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    margin-left: 10px;
}

.request_btn {
    width: 150px;
    height: 30px;
    background-color: #e70a38;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.request_btn > a {
    width: 100%;
    height: 100%;
    color: #fff601;
    font-size: 18px;
}


/*footer*/

footer {
    width: 100%;
    height: 140px;
    background-color: #ccc;
}

.sns {
    width: 248px;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0;
}

.sns > img {
    display: block;
    width: 42px;
    height: 42px;
    float: left;
    margin: 0 10px;
}

address {
    width: 100%;
    height: 72px;
    text-align: center;
    color: #736d6e;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}