@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h2 {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

h6 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    text-indent: -9999px
}

body {
    background: #ddd;
    position: relative;
    width: 640px;
    min-width: 320px;
    max-width: 640px;
}

.wrap {
    width: 100%;
    height: 1130px;
    background: #fff;
}

header {
    width: 100%;
    height: 92px;
    background: #fff;
}

#gnb_menubtn {
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

#top_logo {
    position: absolute;
    left: 320px;
    top: 10px;
    margin-left: -72px;
    cursor: pointer;
}

#seachbtn {
    position: absolute;
    right: 20px;
    top: 26px;
    cursor: pointer;
}

.click_blind {
    width: 640px;
    height: 1130px;
    position: absolute;
    top: 0;
    background: rgba(47, 46, 46, 0.8);
    display: none;
    z-index: 10;
}

.gnb_wrap {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 566px;
    background: #fff;
    display: none;
}

.gnb_wrap.on {
    display: block;
}

.gnb000 {
    width: 100%;
    height: 144px;
}

.mobile_gnblogo {
    position: absolute;
    left: 283px;
    top: 72px;
    margin-top: -45px;
    margin-left: -100px;
    height: 90px;
}

.x {
    position: absolute;
    top: 72px;
    margin-top: -13px;
    left: 520px;
    cursor: pointer;
}

#accordian {
    background: #fff;
    width: 566px;
    max-height: 1038px;
    text-align: center;
    overflow: auto;
}


/* 메뉴 스타일 */

#accordian h3 {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

#accordian h3.off {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
}

#accordian h3.on {
    background: #000;
    color: #fff;
}


/* 서브메뉴 스타일 */

#accordian ul > li > ul > li > a {
    color: white;
    display: block;
    font-size: 25px;
    color: #666;
    padding: 25px 0;
    display: block;
    background: #f2f2f2;
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
    transition: all 0.15s;
    font-family: 'Noto Sans KR';
}

#accordian ul ul li a:hover {
    font-weight: bold;
    text-shadow: 2px -2px 2px #ddd;
}


/* active 클래스 외에 것은 보이지 않게 하기 */

#accordian ul ul {
    display: none;
}

#accordian li.active ul {
    display: block;
}

.gnb_icon {
    background: #c1a774;
    width: 100%;
    height: 120px;
    color: #fff;
}

.icon_box {
    padding-top: 20px;
    margin: 0 auto;
    width: 495px;
    height: 80px;
}

.icon_box > p {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 90px;
    height: 80px;
    /*border:1px solid red;*/
    cursor: pointer;
}

.icon_box_p {
    margin-right: 45px;
}

.icon_box > p > a {
    display: block;
    color: #fff;
}

.icon_box > p > a > em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.icon_box > p:nth-child(1) a em {
    background: url(../img/gnb_icon01.png) no-repeat center center;
    background-size: contain;
}

.icon_box > p:nth-child(2) a em {
    background: url(../img/gnb_icon02.png) no-repeat center center;
    background-size: 130%;
}

.icon_box > p:nth-child(3) a em {
    background: url(../img/gnb_icon03.png) no-repeat top center;
    background-size: contain;
}

.icon_box > p:nth-child(4) a em {
    background: url(../img/gnb_icon04.png) no-repeat top center;
    background-size: contain;
}


/*header & gnb 끝*/


/*내용에 대해서 쓰시면 댐*/

.content {
    font-family: 'Noto Sans KR';
    width: 640px;
    height: 933px;
    font-size: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*main img*/

main .contents1 {
    width: 640px;
    height: 350px;
}

main .contents1 > .main_img_bg {
    display: block;
    position: relative;
    width: 640px;
    height: 350px;
    background: url('../img/bg01.png') no-repeat center center;
    z-index: 1;
}

main .contents1 > .main_img_bg > .main_txt {
    position: absolute;
    width: 297px;
    text-align: center;
    left: 175px;
    top: 102px;
    z-index: 2;
}

main .contents1 > .main_img_bg > .main_txt > div.line01 {
    width: 43px;
    height: 1px;
    background-color: #c1a774;
    margin: 6px auto 10px;
}

main .contents1 > .main_img_bg > .main_txt p {
    width: 250px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
}

main .contents1 > .main_img_bg > .main_txt > .p1 {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .30);
}

main .contents1 > .main_img_bg > .main_txt > .p2 {
    text-align: center;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .30);
}


/*main 제목*/

main .contents2 {
    width: 640px;
    height: 200px;
    background-color: #fff;
    text-align: center;
}

main .contents2 > .contents2_1 {
    width: 640px;
    height: 100px;
    padding-top: 60px;
    margin: 0 auto;
}

main .contents2 > .contents2_1 > h3 {
    text-align: center;
    width: 200px;
    font-size: 31px;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: 'Namum Gothic';
    margin: 0 auto;
    color: #c1a774;
}

main .contents2 > .contents2_1 >div.line02 {
    margin: 6px auto 10px;
    width: 43px;
    height: 1px;
    background-color: #c1a774;
}

main .contents2 > .contents2_1 > p {
    width: 70px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Noto Sans KR';
    color: #707070;
    margin: 0 auto;
}


/*main 컨텐츠*/

main .contents3 {
    width: 612px;
    height: 1548px;
    margin: 0 auto;
}

.content > main {
    margin-bottom: 50px;
}

main .contents3 > article {
    float: left;
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

main .contents3 > article > strong {
    display: block;
    position: absolute;
    bottom: 60px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #c1a774;
}

main .contents3 > article > em {
    display: block;
    position: absolute;
    bottom: 30px;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

main .contents3 > article.shop01 {
    display: block;
    background: url('../img/con1.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop02 {
    display: block;
    background: url('../img/con2.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop03 {
    display: block;
    background: url('../img/con3.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop04 {
    display: block;
    background: url('../img/con4.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop05 {
    display: block;
    background: url('../img/con5.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop06 {
    display: block;
    background: url('../img/con6.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop07 {
    display: block;
    background: url('../img/con7.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop08 {
    display: block;
    background: url('../img/con8.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article.shop09 {
    display: block;
    background: url('../img/con9.jpg') no-repeat 0 0;
    background-color: #fff;
}

main .contents3 > article > .floors_info {
    width: 200px;
    margin: 80px auto 29px;
    text-align: center;
}

main .contents3 > article > .floors_info > span {
    width: 200px;
    font-weight: bold;
    font-size: 24px;
}

main .contents3 > article > .floors_info > p {
    width: 200px;
    margin-top: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #c1a774;
}

main .contents3 > article > .floors_button {
    width: 140px;
    margin: 0 auto;
    border: 1px solid #c1a774;
}

main .contents3 > article > .floors_button p.p10 {
    font-size: 17px;
    padding: 10px;
}


/*nth-child 컨텐츠*/

main .contents3 > article:nth-of-type(1) {
    margin: 0 12px 12px 0;
}

main .contents3 > article:nth-of-type(2) {}

main .contents3 > article:nth-of-type(3) {
    margin: 0 12px 12px 0;
}

main .contents3 > article:nth-of-type(4) {}

main .contents3 > article:nth-of-type(5) {
    margin: 0 12px 12px 0;
}

main .contents3 > article:nth-of-type(6) {}

main .contents3 > article:nth-of-type(7) {
    margin: 0 12px 12px 0;
}

main .contents3 > article:nth-of-type(8) {}

main .contents3 > article:nth-of-type(9) {
    margin: 0 12px 12px 0;
}

main .contents3 > article:nth-of-type(10) {
    background-color: #fff;
}


/*footer 시작*/

footer {
    width: 100%;
    height: 105px;
    background: #f5f5f5;
}

.fooer_icon {
    width: 613px;
    height: 80px;
    margin: 0 auto;
    padding-top: 12px;
    cursor: pointer;
}

.fo_ic_p {
    color: #b1a9a3;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 105px;
    height: 80px;
    font-weight: 500;
}

.fo_ic_p:nth-child(3) a {
    color: #c51c37;
}

.fooer_icon > p > a {
    display: block;
    color: #b1a9a3;
    font-weight: bold
}

.fooer_icon > p > a >em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.fooer_icon > p:nth-child(1) > a > em {
    background: url(../img/footer_icon01.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2) > a > em {
    background: url(../img/footer_icon02.png) no-repeat center center;
}

.footer_on {
    background: url(../img/footer_icon03.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4) > a > em {
    background: url(../img/footer_icon04.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5) > a > em {
    background: url(../img/footer_icon05.png) no-repeat center center;
}

.fooer_icon > p:nth-child(1):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(1):hover > a > em {
    background: url(../img/footer_icon01_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a > em {
    background: url(../img/footer_icon02_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(4):hover > a > em {
    background: url(../img/footer_icon04_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(5):hover > a > em {
    background: url(../img/footer_icon05_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5):hover > a {
    color: #c51c37;
}

.fooer_icon_p {
    margin-right: 22px;
}

.fooer_icon_p:nth-child(5) {
    margin-right: 0;
}


/*footer 끝*/