@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    background: #ddd;
    position: relative;
    width: 640px;
    min-width: 320px;
    max-width: 640px;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    height: 1130px;
    background: #fff;
}

header {
    background: #fff;
    width: 100%;
    height: 92px;
}

#gnb_menubtn {
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

a #top_logo {
    position: absolute;
    left: 320px;
    top: 10px;
    margin-left: -72px;
    cursor: pointer;
}

#seachbtn {
    position: absolute;
    right: 20px;
    top: 26px;
    cursor: pointer;
}

.click_blind {
    width: 640px;
    height: 1130px;
    position: absolute;
    top: 0;
    background: rgba(47, 46, 46, 0.8);
    display: none;
    z-index: 1;
}

.gnb_wrap {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 566px;
    background: #fff;
    display: none;
}

.gnb_wrap.on {
    display: block;
}

.gnb000 {
    width: 100%;
    height: 144px;
}

.mobile_gnblogo {
    position: absolute;
    left: 283px;
    top: 72px;
    margin-top: -45px;
    margin-left: -100px;
    height: 90px;
    width: 166px;
}

.x {
    position: absolute;
    top: 72px;
    margin-top: -13px;
    left: 520px;
    cursor: pointer;
}

#accordian {
    background: #fff;
    width: 566px;
    max-height: 1038px;
    text-align: center;
    overflow: auto;
}


/* 메뉴 스타일 */

#accordian h3 {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

#accordian h3.off {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
}

#accordian h3.on {
    background: #000;
    color: #fff;
}


/* 서브메뉴 스타일 */

#accordian ul > li > ul > li > a {
    color: white;
    display: block;
    font-size: 25px;
    color: #666;
    padding: 25px 0;
    display: block;
    background: #f2f2f2;
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
    transition: all 0.15s;
    font-family: 'Noto Sans KR';
}

#accordian ul ul li a:hover {
    font-weight: bold;
    text-shadow: 2px -2px 2px #ddd;
}


/* active 클래스 외에 것은 보이지 않게 하기 */

#accordian ul ul {
    display: none;
}

#accordian li.active ul {
    display: block;
}

.gnb_icon {
    background: #c1a774;
    width: 100%;
    height: 120px;
    color: #fff;
}

.icon_box {
    padding-top: 20px;
    margin: 0 auto;
    width: 495px;
    height: 80px;
}

.icon_box > p {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

.icon_box_p {
    margin-right: 45px;
}

.icon_box > p > a {
    display: block;
    color: #fff;
}

.icon_box > p > a > em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.icon_box > p:nth-child(1) a em {
    background: url(../img/gnb_icon01.png) no-repeat center center;
    background-size: contain;
}

.icon_box > p:nth-child(2) a em {
    background: url(../img/gnb_icon02.png) no-repeat center center;
    background-size: 130%;
}

.icon_box > p:nth-child(3) a em {
    background: url(../img/gnb_icon03.png) no-repeat top center;
    background-size: contain;
}

.icon_box > p:nth-child(4) a em {
    background: url(../img/gnb_icon04.png) no-repeat top center;
    background-size: contain;
}


/*control*/

.control {
    width: inherit;
    height: 933px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*section*/

section {
    background: url('../img/img01.png') no-repeat;
    width: 640px;
    height: 350px;
    position: relative;
}

section h2 {
    text-indent: -9999%;
}

section h2 img {
    position: absolute;
    top: 93px;
    left: 50%;
    margin-left: -240px;
}

section .line {
    position: absolute;
    top: 168px;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    border: 1px solid #c1a774;
    box-sizing: border-box;
}

section p {
    width: 520px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -260px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: #909090 5px 3px 3px;
    color: #fff;
    text-align: center;
}


/*main*/

main {
    width: inherit;
    height: 783px;
    position: relative;
}

main h3 {
    font-size: 32px;
    font-weight: bold;
    color: #c1a774;
    text-align: center;
    padding-top: 60px;
}

main .line {
    width: 42px;
    border: 1px solid #c1a774;
    box-sizing: border-box;
    margin: 6px auto 10px;
}

main h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

main .menu {
    width: 385px;
    margin: 0 auto;
    overflow: hidden;
}

main .menu li {
    float: left;
    width: 190px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 4px;
    border: 1px solid #c1a774;
    box-sizing: border-box;
    cursor: pointer;
}

main .menu li:nth-child(2) {
    margin-right: 0;
}

main .menu li:nth-child(4) {
    margin-right: 0;
}

main .menu li:hover {
    border: none;
    background-color: #c1a774;
    color: #fff;
}

main .menu li.light {
    border: none;
    background-color: #c1a774;
    color: #fff;
}

main div.content {
    width: 640px;
    margin-top: 35px;
}

main div.name {
    overflow: hidden;
    padding: 12px 0;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    box-sizing: border-box;
}

main div.name p {
    float: left;
    font-size: 15px;
}

main div.name p:nth-child(1) {
    margin-left: 33px;
}

main div.name p:nth-child(2) {
    margin-left: 230px;
}

main button.accodion {
    padding: 12px 0;
    cursor: pointer;
    border-bottom: 1px solid #d7d7d7;
    border-right: none;
    border-left: none;
    border-top: none;
    box-sizing: border-box;
    width: inherit;
    background-color: #fff;
    color: #444;
    outline: none;
    transition: 0.4s;
}

main button.accodion.active,
button.accodion:hover {
    background-color: #eee;
}

main button.accodion strong {
    font-size: 15px;
    float: left;
    margin-top: 5px;
    font-weight: normal;
}

main button.accodion strong:nth-child(1) {
    margin-left: 25px;
}

main button.move stong:nth-child(1) {
    margin-left: 20px;
}

main button.accodion span {
    background: url('../img/menu1.png') no-repeat;
    width: 21px;
    height: 20px;
    float: left;
    color: #fff;
    font-size: 13px;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 2px;
}

main button.accodion em {
    font-style: normal;
    font-size: 13px;
    color: #c31432;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

main div.panel {
    overflow: hidden;
    padding: 12px 0;
    display: none;
    width: inherit;
    border-bottom: 1px solid #d7d7d7;
    box-sizing: border-box;
}

main div.panel.show {
    display: block;
}

main div.panel span {
    background: url('../img/menu2.png') no-repeat;
    width: 21px;
    height: 21px;
    margin-left: 40px;
    float: left;
    color: #fff;
    font-size: 13px;
    padding: 3px 0 0 5px;
}

main div.panel p {
    font-size: 15px;
    padding-right: 25px;
}

button.accodion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    padding-right: 25px;
    padding-top: 5px;
}

button.accodion.active:after {
    content: "\2796";
}

main .num {
    width: 200px;
    overflow: hidden;
    margin: 25px auto 0;
}

main .num {
    width: 130px;
    overflow: hidden;
    margin: 25px auto 0;
}

main #tab1 .num {
    width: 180px;
}

main .num li {
    float: left;
    border-right: 1px solid #333;
    box-sizing: border-box;
    padding: 0 7px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

main .num li:hover {
    color: #c31432;
}

main .num li:last-child {
    border-right: none;
    padding-right: 0;
}

main .email {
    margin: 50px 0;
    width: inherit;
    height: 30px;
}

main .email p {
    font-size: 12px;
    float: left;
    margin-left: 33px;
}

main .email a {
    font-size: 13px;
    float: right;
    border: 1px solid #dfdfdf;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-right: 33px;
}

main div.non {
    display: none;
}


/*footer 시작*/

footer {
    width: 100%;
    height: 105px;
    background: #f5f5f5;
}

.fooer_icon {
    width: 613px;
    height: 80px;
    margin: 0 auto;
    padding-top: 12px;
    cursor: pointer;
}

.fo_ic_p {
    color: #b1a9a3;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 105px;
    height: 80px;
    /*border:1px solid red;*/
    font-weight: 500;
}

.fo_ic_p:nth-child(3) a {
    color: #c51c37
}

.fooer_icon > p > a {
    display: block;
    color: #b1a9a3;
    font-weight: bold
}

.fooer_icon > p > a >em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
    /*border:1px solid red;*/
}

.fooer_icon > p:nth-child(1) > a > em {
    background: url(../img/footer_icon01.png) no-repeat center center;
    /*background-size:contain;*/
}

.fooer_icon > p:nth-child(2) > a > em {
    background: url(../img/footer_icon02.png) no-repeat center center;
    /*background-size:contain;*/
}

.footer_on {
    background: url(../img/footer_icon03.png) no-repeat center center;
    /*background-size:contain;*/
}

.fooer_icon > p:nth-child(4) > a > em {
    background: url(../img/footer_icon04.png) no-repeat center center;
    /*background-size:contain;*/
}

.fooer_icon > p:nth-child(5) > a > em {
    background: url(../img/footer_icon05.png) no-repeat center center;
    /*background-size:contain;*/
}

.fooer_icon > p:nth-child(1):hover > a {
    color: #c51c37
}

.fooer_icon > p:nth-child(1):hover > a > em {
    background: url(../img/footer_icon01_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a > em {
    background: url(../img/footer_icon02_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(4):hover > a > em {
    background: url(../img/footer_icon04_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(5):hover > a > em {
    background: url(../img/footer_icon05_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5):hover > a {
    color: #c51c37;
}

.fooer_icon_p {
    margin-right: 22px;
}

.fooer_icon_p:nth-child(5) {
    margin-right: 0;
}


/*footer 끝*/