@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h2 {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

body {
    background: #ddd;
    position: relative;
    width: 640px;
    min-width: 320px;
    max-width: 640px;
}

.wrap {
    width: 100%;
    height: 1130px;
    background: #fff;
}

header {
    width: 100%;
    height: 92px;
    background: #fff;
}

#gnb_menubtn {
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

#top_logo {
    position: absolute;
    left: 320px;
    top: 10px;
    margin-left: -72px;
    cursor: pointer;
}

#seachbtn {
    position: absolute;
    right: 20px;
    top: 26px;
    cursor: pointer;
}

.click_blind {
    width: 640px;
    height: 1130px;
    position: absolute;
    top: 0;
    background: rgba(47, 46, 46, 0.8);
    display: none;
}

.gnb_wrap {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 566px;
    background: #fff;
    display: none;
}

.gnb_wrap.on {
    display: block;
}

.gnb000 {
    width: 100%;
    height: 144px;
}

.mobile_gnblogo {
    position: absolute;
    left: 283px;
    top: 72px;
    margin-top: -45px;
    margin-left: -100px;
    height: 90px;
}

.x {
    position: absolute;
    top: 72px;
    margin-top: -13px;
    left: 520px;
    cursor: pointer;
}

#accordian {
    background: #fff;
    width: 566px;
    max-height: 1038px;
    text-align: center;
    overflow: auto;
}


/* 메뉴 스타일 */

#accordian h3 {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

#accordian h3.off {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
}

#accordian h3.on {
    background: #000;
    color: #fff;
}


/* 서브메뉴 스타일 */

#accordian ul > li > ul > li > a {
    color: white;
    display: block;
    font-size: 25px;
    color: #666;
    padding: 25px 0;
    display: block;
    background: #f2f2f2;
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
    transition: all 0.15s;
    font-family: 'Noto Sans KR';
}

#accordian ul ul li a:hover {
    font-weight: bold;
    text-shadow: 2px -2px 2px #ddd;
}


/* active 클래스 외에 것은 보이지 않게 하기 */

#accordian ul ul {
    display: none;
}

#accordian li.active ul {
    display: block;
}

.gnb_icon {
    background: #c1a774;
    width: 100%;
    height: 120px;
    color: #fff;
}

.icon_box {
    padding-top: 20px;
    margin: 0 auto;
    width: 495px;
    height: 80px;
}

.icon_box > p {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 90px;
    height: 80px;
    /*border:1px solid red;*/
    cursor: pointer;
}

.icon_box_p {
    margin-right: 45px;
}

.icon_box > p > a {
    display: block;
    color: #fff;
}

.icon_box > p > a > em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.icon_box > p:nth-child(1) a em {
    background: url(../img/gnb_icon01.png) no-repeat center center;
    background-size: contain;
}

.icon_box > p:nth-child(2) a em {
    background: url(../img/gnb_icon02.png) no-repeat center center;
    background-size: 130%;
}

.icon_box > p:nth-child(3) a em {
    background: url(../img/gnb_icon03.png) no-repeat top center;
    background-size: contain;
}

.icon_box > p:nth-child(4) a em {
    background: url(../img/gnb_icon04.png) no-repeat top center;
    background-size: contain;
}


/*header & gnb 끝*/


/*footer 시작*/

footer {
    width: 100%;
    height: 105px;
    background: #f5f5f5;
}

.fooer_icon {
    width: 613px;
    height: 80px;
    margin: 0 auto;
    padding-top: 12px;
    cursor: pointer;
}

.fo_ic_p {
    color: #b1a9a3;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 105px;
    height: 80px;
    /*border:1px solid red;*/
    font-weight: 500;
}

.fo_ic_p:nth-child(3) a {
    color: #c51c37;
}

.fooer_icon > p > a {
    display: block;
    color: #b1a9a3;
    font-weight: bold
}

.fooer_icon > p > a >em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.fooer_icon > p:nth-child(1) > a > em {
    background: url(../img/footer_icon01.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2) > a > em {
    background: url(../img/footer_icon02.png) no-repeat center center;
}

.footer_on {
    background: url(../img/footer_icon03.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4) > a > em {
    background: url(../img/footer_icon04.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5) > a > em {
    background: url(../img/footer_icon05.png) no-repeat center center;
}

.fooer_icon > p:nth-child(1):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(1):hover > a > em {
    background: url(../img/footer_icon01_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a > em {
    background: url(../img/footer_icon02_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(4):hover > a > em {
    background: url(../img/footer_icon04_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(5):hover > a > em {
    background: url(../img/footer_icon05_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5):hover > a {
    color: #c51c37;
}

.fooer_icon_p {
    margin-right: 22px;
}

.fooer_icon_p:nth-child(5) {
    margin-right: 0;
}


/*footer 끝*/


/*contents 시작*/

.content {
    font-family: 'Noto Sans KR';
    width: 640px;
    height: 933px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #eee;
    font-size: 30px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.main_img {
    width: 100%;
    height: 350px;
    background: url(../img/main_img_bg.PNG) no-repeat;
    background-size: cover;
}

.main_img img {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.main_img img:nth-child(1) {
    padding-top: 85px;
}

.main_img img:nth-child(2) {
    padding-top: 23px;
}

.main_img img:nth-child(3) {
    padding-top: 29px;
}

.ment1box {
    margin: 60px 0 40px;
    /*background: red;*/
    height: 75px;
    width: 100%;
}

.ment1box > .ments1 {
    text-align: center;
    /*border:1px solid red;*/
    font-size: 31px;
    height: 35px;
    letter-spacing: -1px;
    color: #c1a774;
    font-family: 'Nanum Gothic';
    font-weight: 600;
}

.men02 {
    display: none;
}

.gap_box {
    width: 56px;
    height: 1px;
    margin: 6px auto 10px;
    background: #c1a774;
}

.ments2 {
    font-size: 17px;
    text-align: center;
    color: #707070;
    height: 25px;
}

.submenu_btn {
    margin: 0 auto 35px;
    width: 390px;
    height: 45px;
}

.submenu_btn > p {
    width: 190px;
    height: 45px;
    float: left;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-weight: 600
}

.submenu_btn01 {
    margin-right: 10px;
    background: #c1a774;
    color: #eeeeee;
}

.submenu_btn02 {
    border: 2px solid #c1a774;
    box-sizing: border-box;
    color: #2f2e2d;
}

.eve_contents > div {
    width: 600px;
    height: 318px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR';
}

.eve_contents > div > p {
    width: 600px;
    height: 318px;
}

.eve_content_03 {
    border: 2px solid #eee;
    box-sizing: border-box;
}

.eve_contents > div > p > a {
    display: block;
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    margin: 0 auto;
    line-height: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    color: #fff;
}

.eve_content_01 > p:nth-child(2) {
    display: none;
    background: #333743;
    padding-top: 80px;
    text-align: center;
    box-sizing: border-box;
}

.eve_content_02 > p:nth-child(2) {
    display: none;
    background: #e85a46;
    padding-top: 80px;
    text-align: center;
    box-sizing: border-box;
}

.eve_content_03 > p:nth-child(2) {
    display: none;
    background: #368a87;
    padding-top: 80px;
    text-align: center;
}

.sns_contents {
    display: none;
}

.sns_contents > div {
    width: 600px;
    height: 318px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.sns_contents > div > p {
    width: 600px;
    height: 318px;
    text-align: center;
    /*border:1px solid red;
    box-sizing: border-box;*/
    background: #c31432;
}

.sns_contents > div > p > a {
    color: #fff;
    display: block;
    margin: auto 0;
    font-family: 'Noto Sans KR';
}

.sns_content_01 > p:nth-child(2) {
    padding-top: 100px;
    box-sizing: border-box;
}

.sns_content_02 > p:nth-child(2) {
    padding-top: 120px;
    box-sizing: border-box;
}

.sns_content_03 > p:nth-child(2) {
    padding-top: 120px;
    box-sizing: border-box;
}

.prev_nextbtn {
    color: #303032;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans KR';
    text-align: center;
    width: 232px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.prev_nextbtn > span {
    display: block;
    width: 40px;
    float: left;
    font-weight: 600;
    padding: 0 10px;
}

.prev_nextbtn > ul > li {
    float: left;
    margin: 0 7px;
}

.number_bar {
    font-weight: 600;
}

.number_on {
    font-weight: bolder;
}