@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background: #ddd;
}

.wrap {
    width: 640px;
    height: 1130px;
    background: #fff;
    position: relative;
}

header {
    width: 100%;
    height: 92px;
}

#gnb_menubtn {
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

#top_logo {
    position: absolute;
    left: 320px;
    top: 10px;
    margin-left: -72px;
    cursor: pointer;
}

#seachbtn {
    position: absolute;
    right: 20px;
    top: 26px;
    cursor: pointer;
}

.click_blind {
    width: 640px;
    height: 1130px;
    position: absolute;
    top: 0;
    background: rgba(47, 46, 46, 0.8);
    display: none;
    z-index: 10;
}

.gnb_wrap {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 566px;
    background: #fff;
    display: none;
}

.gnb_wrap.on {
    display: block;
}

.gnb000 {
    width: 100%;
    height: 144px;
}

.mobile_gnblogo {
    position: absolute;
    left: 283px;
    top: 72px;
    margin-top: -45px;
    margin-left: -100px;
    height: 90px;
}

.x {
    position: absolute;
    top: 72px;
    margin-top: -13px;
    left: 520px;
    cursor: pointer;
}

#accordian {
    background: #fff;
    width: 566px;
    max-height: 1038px;
    text-align: center;
    overflow: auto;
}


/* 메뉴 스타일 */

#accordian h3 {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

#accordian h3.off {
    font-size: 30px;
    color: #666;
    line-height: 34px;
    padding: 30px 0;
    cursor: pointer;
    border-top: 2px solid #f0f0f0;
    box-sizing: border-box;
}

#accordian h3.on {
    background: #000;
    color: #fff;
}


/* 서브메뉴 스타일 */

#accordian ul > li > ul > li > a {
    color: white;
    display: block;
    font-size: 25px;
    color: #666;
    padding: 25px 0;
    display: block;
    background: #f2f2f2;
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
    transition: all 0.15s;
    font-family: 'Noto Sans KR';
}

#accordian ul ul li a:hover {
    font-weight: bold;
    text-shadow: 2px -2px 2px #ddd;
}


/* active 클래스 외에 것은 보이지 않게 하기 */

#accordian ul ul {
    display: none;
}

#accordian li.active ul {
    display: block;
}

.gnb_icon {
    background: #c1a774;
    width: 100%;
    height: 120px;
    color: #fff;
}

.icon_box {
    padding-top: 20px;
    margin: 0 auto;
    width: 495px;
    height: 80px;
}

.icon_box > p {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 90px;
    height: 80px;
    /*border:1px solid red;*/
    cursor: pointer;
}

.icon_box_p {
    margin-right: 45px;
}

.icon_box > p > a {
    display: block;
    color: #fff
}

.icon_box > p > a > em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.icon_box > p:nth-child(1) a em {
    background: url(../img/gnb_icon01.png) no-repeat center center;
    background-size: contain;
}

.icon_box > p:nth-child(2) a em {
    background: url(../img/gnb_icon02.png) no-repeat center center;
    background-size: 130%;
}

.icon_box > p:nth-child(3) a em {
    background: url(../img/gnb_icon03.png) no-repeat top center;
    background-size: contain;
}

.icon_box > p:nth-child(4) a em {
    background: url(../img/gnb_icon04.png) no-repeat top center;
    background-size: contain;
}


/*header & gnb 끝*/


/*footer 시작*/

main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 933px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cover {
    width: 640px;
    height: 317px;
    background: url('../img/mo_cover.png') no-repeat center center;
}

div.all {
    width: 640px;
    margin: 0 auto;
}

.black_wrap {
    width: 640px;
    height: 275px;
    margin-top: -35px;
    background-color: #4b4949;
}

.blackbox {
    display: block;
    float: left;
    margin: 12px auto 40px;
    width: 640px;
    height: 252px;
    background-color: #272424;
}

.blackbox_1 {
    margin: 43px auto 7px;
    color: #c1a774;
    text-align: center;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: 'Nanum Gothic';
}

.blackbox div {
    width: 56px;
    height: 1px;
    margin: 4px auto 10px;
    background-color: #c1a774;
}

.blackbox_2 {
    color: #666666;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.blackbox_3 {
    margin: 20px auto 10px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 2.0;
    font-family: 'Noto Sans KR', sans-serif;
}

div.img {
    width: 640px;
    height: 233px;
    margin: 0 auto;
    background: url('../img/mo_bg1.png') no-repeat center center;
}

div.img01 {
    width: 640px;
    height: 224px;
    margin: 0 auto;
    background: url('../img/mo_bg2.png') no-repeat center center;
}

div.img02 {
    width: 640px;
    height: 233px;
    /*margin-top: 0;*/
    margin: 0 auto;
    background: url('../img/mo_bg3.png') no-repeat center center;
}

.content_main01 {
    width: 640px;
    height: 690px;
    margin: 0 auto;
}

.section {
    display: block;
    width: 320px;
    height: 233px;
    background: rgba(92, 88, 83, 0.83);
}

.section > .box {
    padding-top: 50px;
}

.box > div {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: #fff;
}

.box > h2 {
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 31px;
    letter-spacing: -1px;
    color: #c1a774;
}

.box > .gold_line {
    width: 35px;
    height: 1px;
    margin: 7px auto 20px;
    background-color: #c1a774;
}

.section_1 {
    display: block;
    float: right;
    margin: -233px 0 0;
    width: 320px;
    height: 233px;
    background: rgba(99, 77, 88, 0.77);
}

.section_1 > .box_1 {
    padding-top: 50px;
}

.box_1 > div {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: #fff;
}

.box_1 > h2 {
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 31px;
    letter-spacing: -1px;
    color: #c1a774;
}

.box_1 > .gold_line {
    width: 35px;
    height: 1px;
    margin: 7px auto 20px;
    background-color: #c1a774;
}

.section_2 {
    display: block;
    width: 640px;
    height: 224px;
    background: rgba(55, 78, 63, 0.80);
}

.section_2 > .box_2 {
    padding-top: 50px;
}

.box_2 > div {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: #fff;
}

.box_2 > h2 {
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 31px;
    letter-spacing: -1px;
    color: #c1a774;
}

.box_2 > .gold_line {
    width: 35px;
    height: 1px;
    margin: 7px auto 20px;
    background-color: #c1a774;
}

.section_3 {
    display: block;
    width: 320px;
    height: 233px;
    background: rgba(53, 51, 47, 0.80);
}

.section_3 > .box_3 {
    padding-top: 50px;
}

.box_3 > div {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: #fff;
}

.box_3 > h2 {
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 31px;
    letter-spacing: -1px;
    color: #c1a774;
}

.box_3 > .gold_line {
    width: 35px;
    height: 1px;
    margin: 7px auto 20px;
    background-color: #c1a774;
}

.section_4 {
    display: block;
    float: right;
    margin: -233px 0 0;
    width: 320px;
    height: 233px;
    background: rgba(89, 77, 78, 0.58);
}

.section_4 > .box_4 {
    padding-top: 50px;
}

.box_4 > div {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: #fff;
}

.box_4 > h2 {
    text-align: center;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 31px;
    letter-spacing: -1px;
    color: #c1a774;
}

.box_4 > .gold_line {
    width: 35px;
    height: 1px;
    margin: 7px auto 20px;
    background-color: #c1a774;
}

div.box_bg {
    width: 640px;
    height: 50px;
}

footer {
    width: 100%;
    height: 105px;
    background: #f5f5f5;
}

.fooer_icon {
    width: 613px;
    height: 80px;
    margin: 0 auto;
    padding-top: 12px;
    cursor: pointer;
}

.fo_ic_p {
    color: #b1a9a3;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: center;
    float: left;
    width: 105px;
    height: 80px;
    font-weight: 500;
}

.fo_ic_p:nth-child(3) a {
    color: #c51c37;
}

.fooer_icon > p > a {
    display: block;
    color: #b1a9a3;
    font-weight: bold;
}

.fooer_icon > p > a >em {
    display: inline-block;
    padding: 0;
    width: 53px;
    height: 53px;
}

.fooer_icon > p:nth-child(1) > a > em {
    background: url(../img/footer_icon01.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2) > a > em {
    background: url(../img/footer_icon02.png) no-repeat center center;
}

.footer_on {
    background: url(../img/footer_icon03.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4) > a > em {
    background: url(../img/footer_icon04.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5) > a > em {
    background: url(../img/footer_icon05.png) no-repeat center center;
}

.fooer_icon > p:nth-child(1):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(1):hover > a > em {
    background: url(../img/footer_icon01_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a > em {
    background: url(../img/footer_icon02_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(2):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(4):hover > a > em {
    background: url(../img/footer_icon04_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(4):hover > a {
    color: #c51c37;
}

.fooer_icon > p:nth-child(5):hover > a > em {
    background: url(../img/footer_icon05_hover.png) no-repeat center center;
}

.fooer_icon > p:nth-child(5):hover > a {
    color: #c51c37;
}

.fooer_icon_p {
    margin-right: 22px;
}

.fooer_icon_p:nth-child(5) {
    margin-right: 0;
}


/*footer 끝*/